language: node_js
dist: trusty
sudo: required
node_js:
- 8.4.0
cache:
  directories:
  - node_modules
before_install:
- openssl aes-256-cbc -K $encrypted_5d2bae8122b8_key -iv $encrypted_5d2bae8122b8_iv
  -in credentials.tar.gz.enc -out credentials.tar.gz -d
- tar -xzf credentials.tar.gz
- sudo mv secrets /secrets && sudo chown $USER /secrets
# build docker container
- $(python version.py) #sets APPVERSION
- docker build --tag tartavull/neuroglancer:$APPVERSION .
script:
- docker run -it -v /secrets:/secrets tartavull/neuroglancer:$APPVERSION /bin/sh -c 'cd /neuroglancer && py.test python/test'
after_success:
- docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
- 'if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker push $DOCKER_USERNAME/neuroglancer;
  else
    docker push $DOCKER_USERNAME/neuroglancer:$APPVERSION;
  fi'

before_deploy:
- sudo apt-get install oracle-java8-set-default
- npm install
- npm install --only=dev 
- npm run build-min
- cp -r ./dist/min appengine/frontend/static/
- export DEPLOY="false"
- if [ "$APPVERSION" == "master" ]; then export DEPLOY="true"; fi
- virtualenv frontend
- source frontend/bin/activate
- pip install -t ./appengine/frontend/lib -r ./appengine/frontend/requirements.txt
- deactivate
- virtualenv queue
- source queue/bin/activate
- pip install -t ./appengine/queue/lib -r ./appengine/queue/requirements.txt
- deactivate
- virtualenv graph
- source graph/bin/activate
- pip install -t ./appengine/graph/lib -r ./appengine/graph/requirements.txt
- export PYTHONPATH="$(pwd)/appengine/graph/lib:$PYTHONPATH"
- cd ./appengine/graph && python -m unittest -v test && cd ../..
deploy:
  - provider: gae
    skip_cleanup: true
    keyfile: "/secrets/google-secret.json"
    project: neuromancer-seung-import
    version: "$APPVERSION"
    on:
      all_branches: true
    no_promote: true
    default: "$DEPLOY"
    verbosity: error
    config: "./appengine/frontend/app.yaml"
    no_stop_previous_version: false

  - provider: gae
    skip_cleanup: true
    keyfile: "/secrets/google-secret.json"
    project: neuromancer-seung-import
    version: "$APPVERSION"
    on:
      all_branches: true
    no_promote: true
    default: "$DEPLOY"
    verbosity: error
    config: "./appengine/queue/app.yaml"
    no_stop_previous_version: false

  - provider: gae
    skip_cleanup: true
    keyfile: "/secrets/google-secret.json"
    project: neuromancer-seung-import
    version: "$APPVERSION"
    on:
      all_branches: true
    no_promote: true
    default: "$DEPLOY"
    verbosity: error
    config: "./appengine/graph/app.yaml"
    no_stop_previous_version: false
