language: node_js
dist: trusty
sudo: required
node_js:
- 7.3.0
cache:
  directories:
  - node_modules
before_install:
- openssl aes-256-cbc -K $encrypted_5d2bae8122b8_key -iv $encrypted_5d2bae8122b8_iv
  -in credentials.tar.gz.enc -out credentials.tar.gz -d
- tar -xzf credentials.tar.gz
- sudo mv secrets /secrets && sudo chown $USER /secrets
- $(python version.py) #sets APPVERSION

script:
- 'if [ $(./was_modified.py python) == "true" ]; then
    docker build --tag tartavull/neuroglancer:$APPVERSION . || travis_terminate 1;
    docker run -it -v /secrets:/secrets tartavull/neuroglancer:$APPVERSION /bin/sh -c "cd /neuroglancer && py.test python/test" || travis_terminate 1;
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD" || travis_terminate 1;
    if [ "$TRAVIS_BRANCH" == "master" ]; then
      docker push $DOCKER_USERNAME/neuroglancer || travis_terminate 1;
    else
      docker push $DOCKER_USERNAME/neuroglancer:$APPVERSION || travis_terminate 1;
    fi
  fi'

before_deploy:
- 'if [ $(./was_modified.py appengine/frontend) == "true" ]; then
    sudo apt-get -qq update || travis_terminate 1;
    sudo apt-get install -y  oracle-java8-set-default || travis_terminate 1;
    npm install || travis_terminate 1;
    npm install --only=dev || travis_terminate 1;
    npm run build-min || travis_terminate 1;
    cp -r ./dist/min appengine/frontend/static/ || travis_terminate 1;
    virtualenv frontend || travis_terminate 1;
    source frontend/bin/activate || travis_terminate 1;
    pip install -t ./appengine/frontend/lib -r ./appengine/frontend/requirements.txt || travis_terminate 1;
    deactivate || travis_terminate 1;
  fi'

- 'if [ $(./was_modified.py appengine/queue) == "true" ]; then
    virtualenv queue || travis_terminate 1;
    source queue/bin/activate || travis_terminate 1;
    pip install -t ./appengine/queue/lib -r ./appengine/queue/requirements.txt || travis_terminate 1;
    py.test ./appengine/queue/test.py || travis_terminate 1;
    deactivate || travis_terminate 1;
  fi'
- export DEPLOY="false"
- if [ "$APPVERSION" == "master" ]; then export DEPLOY="true"; fi
deploy:
  - provider: gae
    skip_cleanup: true
    keyfile: "/secrets/google-secret.json"
    project: neuromancer-seung-import
    version: "$APPVERSION"
    on:
      all_branches: true
      condition: $(./was_modified.py appengine/frontend) == "true"
    no_promote: true
    default: "$DEPLOY"
    verbosity: error
    config: "./appengine/frontend/app.yaml"
    no_stop_previous_version: false

  - provider: gae
    skip_cleanup: true
    keyfile: "/secrets/google-secret.json"
    project: neuromancer-seung-import
    version: "$APPVERSION"
    on:
      all_branches: true
      condition:  $(./was_modified.py appengine/queue) == "true"
    no_promote: true
    default: "$DEPLOY"
    verbosity: error
    config: "./appengine/queue/app.yaml"
    no_stop_previous_version: false
