.user-preferences-container {
  position: relative;
  z-index: 100;
  border: 1px solid white;
  background-color: grey;
  /*box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.5);*/
  font-family: sans-serif;
  font-size: 11pt;
  padding: 5px;
  color: white;
  outline: 0px;
}
