.annotation-import-columns-container {
    display: grid;
    grid-template-columns: auto auto;
}

.annotation-import-available-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.annotation-import-available-columns > div, .annotation-import-field-property-name {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}

.annotation-import-available-columns > div:hover {
    filter: brightness(1.1);
}

.annotation-import-available-columns > .annotation-import-available-column-pending {
    background-color: #d0eaff;
    border-color: #3399ff;
}

.annotation-import-field-mapped {
    background-color: #e6ffe6;
}

.annotation-import-available-columns > .annotation-import-available-column-mapped {
    opacity: 0.4;
}

.annotation-import-field-missing {
    border: 2px solid red;
}

.annotation-import-fields-container {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    white-space: nowrap;
    justify-content: space-between;
}

.annotation-import-fields-container > div {
    display: contents;
}

.annotation-import-field-mapped-column {

}

.annotation-import-field-link::before {
  content: '→';
}

.annotation-import-field-property-name {
  grid-column: 3;
}

.annotation-import-metadata-display {
    max-height: 100px;
    overflow-y: scroll;
}