backports.lzma==0.0.8
blosc==1.5.0
boto==2.39.0
boto3==1.4.6
click==6.6
cryptography==2.0.3
Cython==0.25.2
cloud-volume==0.4.0
h5py==2.6.0
networkx==1.11
numpy==1.13.1
pyopenssl==17.2.0
Pillow==4.2.1
protobuf==3.3.0
pytest==3.0.7
tenacity==4.4.0
tornado==4.4.2
tqdm==4.7.6
